body {
	font-size: 16px;
	font-family: Arial, Verdana;
	margin:0 auto;
	padding:0;
	background: none repeat scroll 0 0 #F9F9F9;
	width:100%;
}

.wrapper-outer {
	float:left;
	position:relative;
	width:100%;
	padding-bottom: 30px;
}

.wrapper-inner {
	margin:0 auto;
	width:980px;
}

.nav {
	width: 96%;
	padding:2% 0;
	border-bottom: 4px solid #cccccc;
	margin-bottom: 30px;
}

input.text, input.password {
	width: 75%;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
	outline: 0 none;
}

/*-------------------------
	Link
--------------------------*/

a, a:visited {
	outline:none;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

/*-------------------------
	Table
--------------------------*/

table {
	font-size:14px;
	border: none;
	color:#333333;
	border: 1px solid #E3E3E3;
	margin: 1em 0;
}

table h2.title {
	margin:5px 0;
}

th, td {
	padding: 5px 10px;
	border: none;
}

th.title {
	margin:5px 0;
	font-family: Arial,sans-serif;
	font-size:18px;
	font-weight:normal;
}

td.title {
	font-weight:normal;
	background-color: #eeeeee;
	font-family: Arial,sans-serif;
}

th {
	background-color: #eeeeee;
	border-bottom: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	font-family: Arial,sans-serif;
	font-size:18px;
}

td {
	background-color: #eeeeee;
	border: 1px solid #E3E3E3;
	border-top: none;
	border-left:none;
}

@media all and (max-width: 980px) {

	.wrapper-inner {
		margin:0 auto;
		width:100%;
	}
	
}

/*----------------------------
	Video
-----------------------------*/

.video-wrapper {
	margin:1em 0;
}

@media all and (min-width: 420px) {

	.video-wrapper {
		padding-top:315px!important;
		position:relative;
		width:100%;
		max-width:420px!important;
		max-height:315px!important;
	}

	.video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		max-width:420px!important;
		width: 100%;
		max-height:315px!important;
	}

}

@media all and (max-width: 420px) {

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

}