# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Make HTMLy handle any 404 errors.
ErrorDocument 404 /index.php

# Set the default handler.
DirectoryIndex index.php

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>

  # to activate mode_expires
  # ExpiresActive on
  
  # ExpiresDefault                                      "access plus 1 month"

  # For CSS
  # ExpiresByType text/css                              "access plus 1 month"

  # For Data interchange
  # ExpiresByType application/json                      "access plus 0 seconds"
  # ExpiresByType application/xml                       "access plus 0 seconds"
  # ExpiresByType text/xml                              "access plus 0 seconds"

  # For Favicon
  # ExpiresByType image/x-icon                          "access plus 1 year"

  # For HTML components (HTCs)
  # ExpiresByType text/x-component                      "access plus 1 month"

  # For HTML
  # ExpiresByType text/html                             "access plus 1 month"

  # For JavaScript
  # ExpiresByType text/js                               "access plus 1 month"
  # ExpiresByType text/javascript                       "access plus 1 month"
  # ExpiresByType application/javascript                "access plus 1 month"
  # ExpiresByType application/x-javascript              "access plus 1 month"

  # For Manifest files
  # ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
  # ExpiresByType text/cache-manifest                   "access plus 0 seconds"

  # For Media
  # ExpiresByType audio/ogg                             "access plus 1 month"
  # ExpiresByType image/gif                             "access plus 1 month"
  # ExpiresByType image/jpeg                            "access plus 1 month"
  # ExpiresByType image/png                             "access plus 1 month"
  # ExpiresByType video/mp4                             "access plus 1 month"
  # ExpiresByType video/ogg                             "access plus 1 month"
  # ExpiresByType video/webm                            "access plus 1 month"

  # For Web feeds
  # ExpiresByType application/atom+xml                  "access plus 1 day"
  # ExpiresByType application/rss+xml                   "access plus 1 day"

  # For Web fonts
  # ExpiresByType application/font-woff                 "access plus 1 month"
  # ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"
  # ExpiresByType application/x-font-ttf                "access plus 1 month"
  # ExpiresByType font/opentype                         "access plus 1 month"
  # ExpiresByType image/svg+xml                         "access plus 1 month"

</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>

  RewriteEngine on
  
# Uncomment the following to redirect all visitors to the https version
# RewriteCond %{HTTPS} off
# RewriteRUle (.*) https://www.example.com/$1 [R=301,L]
# RewriteCond %{HTTPS} on
# RewriteCond %{HTTP_HOST} ^example\.com$ [NC]
# RewriteRUle (.*) https://www.example.com/$1 [R=301,L]

# Uncomment the following to redirect all visitors to the www version
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Uncomment the following to redirect all visitors to non www version
# RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
# RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

# If your site is running in a VirtualDocumentRoot at http://example.com/,
# uncomment the following line:
# RewriteBase /

# Pass all requests not referring directly to files in the filesystem to index.php.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d 
  RewriteRule ^ index.php [L]

</IfModule>

# Enable Gzip compression.
<IfModule mod_deflate.c>

    # Force compression for mangled headers.
    # http://developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # Compress all output labeled with one of the following MIME-types
    # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
    #  and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines
    #  as `AddOutputFilterByType` is still in the core directives).
    AddOutputFilterByType DEFLATE application/atom+xml \
                                  text/js \
                                  text/javascript \
                                  application/javascript \
                                  application/x-javascript \
                                  application/json \
                                  application/rss+xml \
                                  application/vnd.ms-fontobject \
                                  application/x-font-ttf \
                                  application/x-web-app-manifest+json \
                                  application/xhtml+xml \
                                  application/xml \
                                  font/opentype \
                                  image/svg+xml \
                                  image/x-icon \
                                  text/css \
                                  text/html \
                                  text/plain \
                                  text/x-component \
                                  text/xml

</IfModule>