
.icon-picture:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-cw:before { content: '\e803'; } /* '' */
.icon-ccw:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-bold:before { content: '\e806'; } /* '' */
.icon-italic:before { content: '\e807'; } /* '' */
.icon-videocam:before { content: '\e808'; } /* '' */
.icon-music:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-edit:before { content: '\e80c'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */