;Password
password = yourpassword

;Encryption. Set to clear, and later it will changed to password_hash automatically during login
encryption = clear

;Role
role = admin

;MFA Secret - This is generated inside of the admin area, set to "disabled" to turn off MFA for a user.
mfa_secret = disabled