/*-------------------------
 Link and Button Transitions
--------------------------*/

a, a:link, a:visited, a:focus, a:hover, a:active, input[type="submit"], button, .button, .addPost li{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

button, input[type="submit"], .button a{
	cursor: pointer;
	transition-delay: 50ms;	
}
button:active, input[type="submit"]:active, .button a:active{
	transition: none;
}
button:focus {outline:none;}
button::-moz-focus-inner {border:0;}
button:disabled{
	background: #DDD;
	color: #BBB;
}

/*-------------------------
	Simple reset
--------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 17px;
    line-height: 1.6;
    color: #343A3F;
    padding: 0;
    margin: 0;
}

section, footer, header, aside, nav {
    display: block;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    outline: 0 none;
}

/*-------------------------
	Heading
--------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
    margin: 0.5em 0;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

/*-------------------------
	Layout
--------------------------*/

#outer-wrapper {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
	background: #fafafa;
}

#inner-wrapper {
    padding: 0 10px;
}

.container {
    padding: 0 20px;
}

#header-wrapper {
    background: #546673;
    position: relative;
    padding: 1em 0;
    float: left;
    width: 100%;
    color: #ffffff;
    font-family: Georgia, sans-serif;
    font-style: italic;
}

#content-wrapper {
    float: left;
    width: 100%;
    padding: 3em 0;
}

#menu, #header, #content, #footer {
    width: 800px;
    margin: 0 auto;
}

.admin #content {
    width: 980px;
    margin: 0 auto;
	background: #FFF;
	box-sizing: border-box;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.1);
}
.in-login #content{
    width: 350px;
    margin: 0 auto;
	padding: 20px;
	background: #FFF;
	box-sizing: border-box;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.1);
}
#header {
    text-align: center;
}

.content-creator, .content-list{
	width: 100%;
	margin: 40px 0;
	float: left;
	background: #FFF;
	padding: 10px;
	box-sizing:border-box;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.1);
}

.content-list{
	text-align: left;
}

.hide {
    display: none;
}

/*-------------------------
	Link
--------------------------*/

a, a:visited {
    outline: none;
    color: #37474f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tab {
    width: 100%;
    margin: 1.5em 0 0 0;
    line-height: 1;
    border-bottom: 1px solid #E4E7EE;
}

.tab ul {
	padding:0;
	margin:0;
}

.tab  li {
    display: inline-block;
	margin:0;
	padding:0;
}

.tab a {
    background: #E4E7EE;
    border-radius: 6px 6px 0px 0;
    color: #555555;
    text-align: center;
    padding: 8px 14px;
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

/*-------------------------
	CUSTOM ADD NEWS
--------------------------*/

.creatorMenu{
	padding: 10px;
	box-sizing: border-box;
}
.creatorMenu h2{
	display: inline-block;
}
.creatorMenu a,.creatorMenu a:link,.creatorMenu a:visited{
	color: #fafafa;
	background: #37474f;
	padding: 5px 10px;
	border: 1px solid #37474f;
	border-radius: 2px;
	float: right;
	margin: 10px 20px;	
}
.creatorMenu a:focus,.creatorMenu a:hover{
	background: #fafafa;
	color: #37474f;
	text-decoration: none;
}
.createPost{
	text-align: center;
	padding:10px;
	box-sizing: border-box;
}
.addPost{
	display: block;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}
.addPost li{
	display: inline-block;
	width: 10%;
	text-align: center;
}
.addPost li i{
	display: block;
	margin: auto;
	font-size: 1.4em;
	width: 50px;
	height: 50px;
	border: 2px solid #37474f;
	border-radius: 50%;
	background: #37474f;
	color: #fafafa;
	text-align: center;
	line-height: 50px;
}
.addPost li:hover i, .addPost li.active i{
	color: #37474f;
	background: #fafafa;
}

/*-------------------------
	Text element
--------------------------*/

blockquote:before {
    color: #BBBBBB;
    content: "''";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #BBBBBB;
    content: "''Â";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -0.45em;
}

blockquote {
    font-style: italic;
    margin: 1em 0 1em 1em;
}

blockquote p {
    display: inline;
}

pre {
    margin: 1em 0;
    overflow: auto;
    background: #F1F1FF;
    color: #333333;
    display: block;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 14px;
    padding: 10px;
    line-height: 1.3;
}

code {
    color: #333333;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 15px;
    padding: 3px 8px;
    background: #F1F1FF;
}

pre code {
    color: #333333;
    display: block;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 14px;
    padding: 0;
    line-height: 1.6;
}

.thumbnail {
    float: left;
    height: 80px;
    width: 80px;
    margin: 5px 15px 0 0;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ul, ol {
    padding-left: 30px;
    margin: 1em 0;
}

ul li, ol li {
    margin: 0.25em 0;
}

/*-------------------------
	FORM
--------------------------*/
.formElement{
	width: 100%;
	padding: 10px;
	text-align: left;
	box-sizing: border-box;
}
label{
	display: block;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 5px 0;
}
.inforight{
	font-size: 0.9em;
	float: right;
	text-transform: none;	
}
input[type=text], input[type=password] {
    padding: 4px 6px;
    font-size: 14px;
    background-color: #fafafa;
    border: 1px solid #CCC;
	width: 100%;
	box-sizing: border-box;
}
input[type=text]:hover, input[type=password]:hover {
    background-color: #fafafa;
    border: 1px solid #CCC;
}

input[type=submit] {
    padding: 4px 6px;
    font-size: 14px;
    cursor: pointer;
	background: #37474f;
	color: #fafafa;
	border: 1px solid #37474f;
	margin: 5px 0;
}
input[type=submit]:hover{
	background: #fafafa;
	color: #37474f;
}

input.text {
    font-size: 14px;
	padding: 8px;
    background-color: #fafafa;
    border: 1px solid #CCC;
	box-sizing:border-box;
}

input.error, textarea.error {
    border: 1px solid red;
}

textarea {
    font-size: 15px;
    font-family: Georgia, sans-serif;
    line-height: 1.4;
    background-color: #fafafa;
    border: 1px solid #CCC;
    padding: 4px 6px;
    width: 100%;
    min-height: 5em;
    overflow: auto;
	box-sizing: border-box;
}

textarea:hover {
    border: 1px solid #CCCCCC;
}

.error-message {
    color: red;
    background: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 2em;
}

span.required {
    color: red;
}

span.help {
    font-size: 12px;
    font-style: italic;
}

.category {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 13px;
    margin: 20px 0;
    padding: 0 1em;
}

.tags a:after {
    content:", ";
}
.tags a:last-child:after {
    content:"";
}

/*-------------------------
	Table
--------------------------*/

table{
	width: 100%;
    border: none;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;	
}
tr.head{
	background: #fafafa;
}
tr{
	border: 1px solid #ccc;
	background: #FFF;
	padding: 1px;
}
tr:hover
{
	background: #fafafa;
}
th,td{
	padding: 10px 20px;
	border-top: 1px solid #ccc;
}

/*-------------------------
	Menu
--------------------------*/

#menu-wrapper {
    font-family: 'Open Sans', sans-serif;
    color: #7E909D;
    padding: 10px 0;
    float: left;
    width: 100%;
}

#menu {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #7E909D;
    font-size: 14px;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu a {
    color: #7E909D;
}

#menu ul li {
    float: left;
    margin: 0 20px 0 0;
    list-style: none;
    padding-top: 3px;
}

#menu ul li.active > a {
    text-decoration: underline;
}

#menu ul li:last-child {
    margin: 0;
}

#menu ul li ul.subnav {
    display:none;
}

/*----------------------------
	Search form
-----------------------------*/

#search-form {
    position: relative;
    float: right;
}

.error-404 .post #search-form,
.error-404-search .post #search-form {
    float: none;
}

.search-input {
    margin: 0;
    padding: 4px 15px;
    font-size: 14px;
    border: 1px solid #0076a3 !important;
    background: #FFFFFF !important;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    width: 120px;
    color: #888888;
}

.search-button {
    margin: 0;
    padding: 4px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #546673;
    border-right: 0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#2E9FFF), to(#2E9CCC));
    background: -moz-linear-gradient(top, #2E9FFF, #2E9CCC);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    width: 60px;
}

.search-button:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
}

/* Fixes submit button height problem in Firefox */
.search-button::-moz-focus-inner {
    border: 0;
}

/*-------------------------
	Post
--------------------------*/

.post {
    border-bottom: 1px solid #EBF2F6;
    padding: 1em 0;
    float: left;
    width: 100%;
}

.inpost .post {
    padding-bottom: 0;
}

p, ul {
    margin: 1em 0;
}

.breadcrumb {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.date {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #A7A7A7;
    font-weight: normal;
    margin: 1em 0;
}

h1.blog-title, h2.blog-title {
    font-style: normal;
    font-size: 28px;
}

h1.title-post a, h2.title-index a {
    color: #4f4f4f;
    text-decoration: none;
}

h1.title-post a:hover, h2.title-index a:hover {
    color: #2E9FFF;
}

.inpost .post {
    padding-top: 0;
    border: none;
}

.inpage .border {
    padding: 0;
    margin: 0;
    border: 0;
}

.inpage .post {
    padding-top: 0;
}

.infront .first, .inpost .post, .intag .first, .inarchive .first, .insearch .first, .error-404 .post, .error-404-search .post {
    padding-top: 0;
}

.infront .first h2.title-index {
    margin-top: 0;
}

.inprofile .bio {
    font-size: 14px;
    font-style: italic;
    border-bottom: 1px solid #EBF2F6;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.post-list {
    font-size: 14px;
}

/*-------------------------
	Share box
--------------------------*/

.separator {
    font-size: 20px;
}

.share-box {
    font-size: 14px;
    float: left;
}

.author-info {
    width: 540px;
    float: left;
}

.author-info p {
    font-style: italic;
}

.share {
    width: 140px;
    margin-right: 1em;
    float: right;
}

.share a {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0 5px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    text-indent: -9999em;
}

.share a.twitter {
    background: url(../img/share-twitter.png) left top no-repeat;
}

.share a.facebook {
    background: url(../img/share-facebook.png) left top no-repeat;
}

.share a.googleplus {
    background: url(../img/share-googleplus.png) left top no-repeat;
}

.share a:hover {
    background-position: left -26px;
}

/*-------------------------
	Comments
--------------------------*/

.comments {
    position: relative;
    display: block;
    font-size: 16px;
    float: left;
    width: 100%;
}

.border {
    border-top: 1px solid #DFDFDF;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-bottom: 15px;
    width: 100%;
    float: left;
}

.border .fb-comments, .border #disqus_thread {
    padding-top: 1.2em;
}

#disqus_thread {
    font-family: Georgia, Times, Cambria, serif;
    float: left;
    width: 100%;
}

/*-------------------------
	Raleted posts
--------------------------*/

.related {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

.related ul {
    margin: 0;
}

/*-------------------------
	Pagination + Postnav
--------------------------*/

.postnav {
    width: 100%;
    float: left;
    padding-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.postnav a {
    background: none repeat scroll 0 0 #E4E7EE;
    border-radius: 3px;
    color: #555555;
    line-height: 1;
    text-align: center;
}

.postnav a:hover {
    text-decoration: none;
    color: #333333;
}

.postnav .newer {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.1em;
    padding: 10px 15px 10px 25px;
}

.postnav .older {
    float: right;
    padding: 10px 25px 10px 15px;
}

.postnav .pagination-arrow {
    display: inline-block;
    border-radius: 3px;
    color: #555 !important;
    text-decoration: none !important;
    text-transform: none;
    position: relative;
}

.postnav .pagination-arrow.newer:before,
.postnav .pagination-arrow.older:before {
    content: '';
    border: 5px solid #555;
    border-color: transparent #555 transparent transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: 5px;
    top: 12px;
}

.postnav .pagination-arrow.older:before {
    left: auto;
    right: 5px;
    border-color: transparent transparent transparent #555;
}

.pager {
    width: 100%;
    float: left;
    padding: 30px 0 1em 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.pager a {
    background: none repeat scroll 0 0 #E4E7EE;
    border-radius: 3px;
    color: #555555;
    line-height: 1;
    padding: 10px 20px;
    text-align: center;
}

.pager .newer {
    float: left;
}

.pager .older {
    float: right;
}

.pager a:hover {
    text-decoration: none;
    color: #333333;
}

/*-------------------------
	Footer
--------------------------*/

#footer-wrapper {
    background: #546673;
    position: relative;
    padding: 20px 0;
    float: left;
    width: 100%;
    color: #ABB6C5;
    font-family: 'Open Sans', sans-serif;
}

#footer {
    font-size: 14px;
}

#footer a {
    color: #CBD2DC;
    font-weight: bold;
}

#footer ul {
    margin: 0.5em 0;
}

.footer-column {
    padding-bottom: 1.5em;
    float: left;
    width: 100%;
}

.column {
    float: left;
    width: 25%;
}

.recent ul {
    padding-left: 20px;
    width: 85%;
}

.archive .toggle {
    font-family: Georgia, Arial, sans-serif;
    font-size: 16px;
}

.social {
    float: right;
}

.social .inner {
    padding-left: 30px;
}

.tagcloud ul {
    padding: 0;
    margin: 0;
}

.tagcloud ul li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

.copyright {
    font-size: 12px;
    float: left;
    width: 100%;
    border-top: 1px solid #ABB6C5;
    padding-top: 1em;
}

.copyright p {
    margin: 0.5em 0;
    line-height: 1.2;
}

/*----------------------------
	The 404 page
-----------------------------*/

.message {
    padding: 50px 20px 20px 20px;
}

.message h1 {
    font-size: 36px;
    margin-bottom: 18px;
}

.message p {
    font-size: 13px;
}

.center {
    text-align: center;
}

.search-404 {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 1.2em;
}

.search-404 #search-form {
    float: none;
}

/*----------------------------
	Media queries
-----------------------------*/

@media all and (max-width: 700px) {

    #menu, #header, #content, #footer {
        margin: 0 auto;
        width: 100%;
    }

    .admin #menu, .admin #header, .admin #content, .admin #footer {
        margin: 0 auto;
        width: 100%;
    }

    #menu-wrapper {
        text-align: center;
    }

    #menu ul li {
        float: none;
        display: inline-block;
    }

    #search-form {
        float: none;
        padding: 10px 0;
    }

    .author-info {
        width: 100%;
        float: left;
    }

    .share {
        width: 100%;
        margin-right: 0;
        padding-bottom: 1em;
    }

    .column {
        float: left;
        width: 100%;
    }

    .postnav .newer {
        float: left;
        margin-bottom: 1em;
    }

    .postnav .older {
        float: left;
    }

    .social .inner {
        padding-left: 0px;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

}

/*----------------------------
	Video
-----------------------------*/

.video-wrapper {
    margin: 1em 0;
}

@media all and (min-width: 420px) {

    .video-wrapper {
        padding-top: 315px !important;
        position: relative;
        width: 100%;
        max-width: 420px !important;
        max-height: 315px !important;
    }

    .video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        max-width: 420px !important;
        width: 100%;
        max-height: 315px !important;
    }

}

@media all and (max-width: 420px) {

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

}

@media all and (max-width: 560px) {

    .featured-video, .featured-audio {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .featured-video iframe, .featured-video object, .featured-video embed, .featured-audio iframe, .featured-audio object, .featured-audio embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

}

/*----------------------------
        Archive
-----------------------------*/

ul.archivegroup {
    padding: 0;
    margin: 0;
}

.archivegroup .expanded ul {
    display: block;
}

.archivegroup .collapsed ul {
    display: none;
}

.archivegroup li.expanded, .archivegroup li.collapsed {
    list-style: none;
}
