@font-face {
  font-family:"Lato";
  font-style:normal;
  font-weight: 400;
  font-display:swap;
  src:local("Lato"),
  url("../fonts/Lato/Lato-Regular.woff2") format("woff2"),
  url("../fonts/Lato/Lato-Regular.woff") format("woff")
}
@font-face {
  font-family:"Lato";
  font-style:normal;
  font-weight: 700;
  font-display:swap;
  src:local("Lato"),
  url("../fonts/Lato/Lato-Bold.woff2") format("woff2"),
  url("../fonts/Lato/Lato-Bold.woff") format("woff")
}
@font-face {
  font-family:"Lato";
  font-style:normal;
  font-weight: 900;
  font-display:swap;
  src:local("Lato"),
  url("../fonts/Lato/Lato-Black.woff2") format("woff2"),
  url("../fonts/Lato/Lato-Black.woff") format("woff")
}