@font-face {
  font-family:"Merriweather";
  font-style:italic;
  font-weight: 400;
  font-display:swap;
  src:local("Merriweather"),
  url("../fonts/Merriweather/merriweather-latin-400-italic.woff2") format("woff2")
}
@font-face {
  font-family:"Merriweather";
  font-style:normal;
  font-weight: 400;
  font-display:swap;
  src:local("Merriweather"),
  url("../fonts/Merriweather/merriweather-latin-400-normal.woff2") format("woff2")
}
@font-face {
  font-family:"Merriweather";
  font-style:normal;
  font-weight: 700;
  font-display:swap;
  src:local("Merriweather"),
  url("../fonts/Merriweather/merriweather-latin-700-normal.woff2") format("woff2")
}