@font-face {
  font-family:"Montserrat";
  font-style:normal;
  font-weight: 300;
  font-display:swap;
  src:local("Montserrat"),
  url("../fonts/Montserrat/montserrat-latin-400-normal.woff2") format("woff2")
}
@font-face {
  font-family:"Montserrat";
  font-style:normal;
  font-weight: 400;
  font-display:swap;
  src:local("Montserrat"),
  url("../fonts/Montserrat/montserrat-latin-400-normal.woff2") format("woff2")
}
@font-face {
  font-family:"Montserrat";
  font-style:normal;
  font-weight: 700;
  font-display:swap;
  src:local("Montserrat"),
  url("../fonts/Montserrat/montserrat-latin-700-normal.woff2") format("woff2")
}