@font-face {
  font-family:"Open Sans";
  font-style:normal;
  font-weight: 300;
  font-display:swap;
  src:local("Open Sans"),
  url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2")
}
@font-face {
  font-family:"Open Sans";
  font-style:normal;
  font-weight: 400;
  font-display:swap;
  src:local("Open Sans"),
  url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2")
}
@font-face {
  font-family:"Open Sans";
  font-style:normal;
  font-weight: 700;
  font-display:swap;
  src:local("Open Sans"),
  url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2")
}