@font-face {
  font-family:"Source Sans";
  font-style:italic;
  font-weight: 400;
  font-display:swap;
  src:local("Source Sans"),
  url("../fonts/SourceSans/SourceSans3-Italic.woff2") format("woff2")
}
@font-face {
  font-family:"Source Sans";
  font-style:normal;
  font-weight: 400;
  font-display:swap;
  src:local("Source Sans"),
  url("../fonts/SourceSans/SourceSans3-Regular.woff2") format("woff2")
}
@font-face {
  font-family:"Source Sans";
  font-style:normal;
  font-weight: 700;
  font-display:swap;
  src:local("Source Sans"),
  url("../fonts/SourceSans/SourceSans3-Bold.woff2") format("woff2")
}