@import url('https://fonts.googleapis.com/css?family=Oswald');

body.admin {
 padding-top: 15vh;
}

#toolbar a {
    font-family: 'Oswald', Georgia, sans-serif;
}

#toolbar a:hover {
    padding-left: .5rem;
}

/* Toolbar */
#toolbar {
    color: #111;
    box-shadow: 0 3px 15px #999;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    min-height: 30px;
    background-color: #F6F7F9;
    width:100%;
    box-sizing: border-box;
}
#toolbar:before {
    content: 'Site Administration';
    background-color: #111;
    color: #F6F7F9;
    width:100%;
    display: block;
    padding: 1rem;
    text-transform: uppercase;
}
#toolbar ul { 
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

#toolbar li {
  padding: .5rem .75rem;
}

@media all and (max-width: 550px) {
    body.admin {
        padding-top: 0;
    }
     #toolbar ul {
        flex-direction: column;
    }
}
