; The URL of your blog
site.url = ""

; Blog info
blog.title = "HTMLy"
blog.tagline = "Just another HTMLy blog"
blog.description = "Proudly powered by HTMLy, a databaseless blogging platform."
blog.copyright = "(c) Your name."

; Social account
social.twitter = "https://twitter.com"
social.facebook = "https://www.facebook.com"
social.google = "https://plus.google.com"
social.tumblr = "http://www.tumblr.com"

; Custom menu link
blog.menu = ""

; Breadcrumb home text. Useful when installed on subfolder.
breadcrumb.home = "Home"

; Disqus
disqus.shortname = ""

; Google publisher
google.publisher = ""

; Google analytics
google.analytics.id = ""

; Pagination, RSS, and JSON
posts.perpage = "5"
tag.perpage = "10"
archive.perpage = "10"
search.perpage = "10"
profile.perpage = "10"
json.count = "10"

; Related posts
related.count = "4"

; Author info on blog post. Set "true" or "false".
author.info = "true"

; Teaser char count
teaser.char = "200"

; Description char count
description.char = "150"

;RSS feed count
rss.count = "10"

;RSS feed description length. If left empty we will use full page.
rss.char = ""

; Enable image thumbnail on teaser, the options is "true" and "false". If set to "true", you can specify the default thumbnail also.
img.thumbnail = "true"
default.thumbnail = ""

; Set the theme here
views.root = "themes/default"

; Framework config. No need to edit.
views.layout = "layout"