@import 'fontello/css/fontello.css';

body {
/*    font-family: Georgia, sans-serif; */
}

blockquote {
    border-left: 2px dotted #888;
    padding-left: 5px;
    background: #F6F7F9;
}

.wmd-panel {
    width: 49%;
    float: left;
	padding: 10px;
	box-sizing: border-box;
}
.wmd-button-bar {
    background-color: #F6F7F9;
    padding: 5px 0;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #CFDAE5;
    display: block;
    float: left;
	
	background-color: transparent;
	padding: 0;
	border: 0px;
}
.wmd-button-bar:hover {
    border: 1px solid #CCCCCC;
	border: 0px;
}
.wmd-input {
    min-height: 300px;
    width: 100%;
    padding: 2%;
	box-sizing: border-box;
}

.wmd-preview {
    background-color: #fafafa;
    width: 49%;
    float: left;
    padding: 2%;
	box-sizing: border-box;
}
.content-preview{
	margin-top: 42px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.1);	
}

.wmd-button-row {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.wmd-spacer {
    width: 1px;
    height: 20px;
    background-color: Silver;
    list-style: none;
    float: left;
    margin: 0.25em 5px;
}

.wmd-button {
    width: 20px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;
    cursor: pointer;
	float: left;
	
	padding: 5px;
	margin: 1px;
	border: 1px solid #CCC;
	border-radius: 1px;
	font-size: 0.9em;
}
.wmd-button:hover{
	background: #f5f5f5;
}

.wmd-button > span {
/*    background-image: url(../img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
*/
}

.wmd-button > span {
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.wmd-button > span:hover {
/*  background: lightskyblue; */
}

.wmd-spacer1 {
    left: 50px;
}

.wmd-spacer2 {
    left: 175px;
}

.wmd-spacer3 {
    left: 300px;
}

.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

pre {
    margin: 1em 0;
    overflow: auto;
    background: #F1F1FF;
}

pre code {
    color: #333333;
    display: block;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 14px;
    padding: 5px 10px;
}

@media all and (max-width: 980px) {

    .nav {
        width: 100%;
        padding: 2%;
    }

    .wmd-panel, .wmd-preview {
        width: 96%;
        float: left;
        padding: 2%;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

}